<link rel="stylesheet" href="/static/404.css" />
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<section class="error-page section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12">
        <!-- Error Inner -->
        <div class="error-inner">
          <h1>404<span>Oop's sorry we can't find that page!</span></h1>
        </div>
        <!--/ End Error Inner -->
      </div>
    </div>
  </div>
</section>
