<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필 수정</title>
    <link rel="stylesheet" href="/static/login.css" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/edit_profile.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <header>
      <div><span>회원정보 수정</span></div>
      <div>
        <span onclick="location.href='/moim/moims'">×</span>
      </div>
    </header>
    <section>
      <form name="update-user-form">
        <input
          type="text"
          id="nickname"
          placeholder="새 닉네임을 입력해주세요."
        /><br />
        <input
          type="password"
          id="pw"
          placeholder="새 비밀번호를 입력해주세요."
        /><br />
        <div style="display: flex;">
          <button type="button" onclick="updateUser()">정보 수정</button>
          <button type="button" onclick="deleteUser()">계정 삭제</button>
        </div>
      </form>
      <script>
        function updateUser() {
          const form = document.forms["update-user-form"];
          const updateData = {
            nickname: form.nickname.value || null,
            pw: form.pw.value || null,
          };

          axios
            .patch("/user/update", updateData)
            .then((res) => {
              if (res.data.result) {
                alert("정보가 성공적으로 수정되었습니다.");
                document.location.href = "/";
              } else {
                alert("정보 변경에 실패했습니다.");
              }
            })
            .catch((error) =>
              console.error("Update user information error", error)
            );
        }
        
        function deleteUser() {
        if (confirm("정말 계정을 삭제하시겠습니까?")) {
          axios
            .delete("/user/delete")
            .then((res) => {
              console.log(res.data);
              if (res.data.result) {
                alert("계정이 성공적으로 삭제되었습니다.");
                document.location.href = "/";
              } else {
                alert("계정 삭제에 실패하였습니다.");
              }
            })
            .catch((error) =>
              console.error("Delete user account error", error)
            );
        }
      }
      </script>
    </section>
  </body>
</html>
