<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <script src="/static/index.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<link rel="stylesheet" href="/static/index.css" type="text/css" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />

<body>
  <header>
    <div class="logo">
      <!-- 로고 -->
      <a href="/home">MOiM</a>
    </div>
  </header>
  <div class="main_content">
    <div class="row1">
      <div class="my_page" onclick="location.href='/user/profile'">
        <!-- 프로필사진 -->
        <img src="/static/upload/star_imgs/<%= img_link %>" alt="" id="profile_img">
        <!-- <div id="profile_img"></div> -->
        <!-- 닉네임 -->
        <div id="name"><%= nickname %></div>
        <!-- + 버튼 -->
        <div id="more_info">+</div>
      </div>
      <div class="button">
        <div class="moim_set_page">
          <!-- 모임글 작성하기 -->
          <div id="icon">✏️</div>
          <div id="text" onclick="location.href = '/moim/moim_insert'">모임글쓰기</div>
        </div>
        <div class="moim_list_page" onclick="location.href='moim/moims'">
          <!-- 모임 리스트 보기 -->
          <div id="icon">👥</div>
          <div id="text">모임 더보기</div>
        </div>
      </div>
    </div>
    <div>
    <div class="recommend">
      <h3><%= nickname %>님을 위한 추천</h3>
      <!-- + 버튼 -->
      <div id="more_info" style="background-color: #00000000;"></div>
      <div class="contents_scroll">
      </div>
    </div>
    <div class="attending">
      <h3><%= nickname %>님이 참여중인 모임</h3>
      <!-- + 버튼 -->
      <div id="more_info" onclick="location.href='/user/profile'">+</div>
      <div class="contents_scroll">
      </div>
    </div>
  </div>
  </div>
</body>
</html>