<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
</head>
<link rel="stylesheet" href="/static/index.css" type="text/css" />

<body>
  <header>
    <div class="logo">
      <!-- ыбЬъ│а -->
      <a href="/">MOiM</a>
    </div>
  </header>
  <div class="main_content">
    <div class="row1">
      <div class="my_page" onclick="location.href='/'">
        <!-- эФДыбЬэХДьВмьзД -->
        <img src="" alt="" id="profile_img">
        <!-- <div id="profile_img"></div> -->
        <!-- ыЛЙыДдьЮД -->
        <div id="name">ыЛЙыДдьЮД</div>
        <!-- + ы▓ДэК╝ -->
        <div id="more_info">+</div>
      </div>
      <div class="button">
        <div class="moim_set_page">
          <!-- ыкиьЮДъ╕А ьЮСьД▒эХШъ╕░ -->
          <div id="icon">тЬПя╕П</div>
          <div id="text">ыкиьЮДъ╕А ьЮСьД▒эХШъ╕░</div>
        </div>
        <div class="moim_list_page" onclick="location.href='moim/moims'">
          <!-- ыкиьЮД ыжмьКдэК╕ ы│┤ъ╕░ -->
          <div id="icon">ЁЯСе</div>
          <div id="text">ыкиьЮД ыжмьКдэК╕</div>
        </div>
      </div>
    </div>
    <div class="recommend">
      <h3>HELLOыЛШьЭД ьЬДэХЬ ь╢Фь▓Ь</h3>
      <!-- + ы▓ДэК╝ -->
      <div id="more_info">+</div>
      <div class="contents_scroll">
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
      </div>
    </div>
    <div class="attending">
      <h3>_____ыЛШьЭ┤ ь░╕ьЧмьдСьЭ╕ ыкиьЮД</h3>
      <!-- + ы▓ДэК╝ -->
      <div id="more_info">+</div>
      <div class="contents_scroll">
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
        <div class="moim_content">
          <!-- ыкиьЮДыкЕ -->
          <p>ыкиьЮД ьаЬыкй</p>
          <!-- ьВмьзД -->
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
