<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인폼</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <style></style>
  <body>
    <h2>Login</h2>
    <form name="login-form">
      <input type="text" id="id" placeholder="아이디를 입력해주세요." /><br />
      <input
        type="password"
        id="pw"
        placeholder="비밀번호를 입력해주세요."
      /><br />
      <button type="button" class="btn" onclick="login()">로그인하기</button>
    </form>
    <p><a href="/signup">회원가입</a></p>
    <p><a href="/profile">회원정보수정</a></p>

    <script>
      function login() {
        const form = document.forms["login-form"];
        axios({
          method: "post",
          url: "/user/login",
          data: {
            userid: form.id.value,
            pw: form.pw.value,
          },
        }).then((res) => {
          console.log("res", res);
          if (res.data.result) {
            //alert(`${res.data.data.username}님, 로그인 되었습니다.`);
            //document.location.href = `/profile/${res.data.data.id}`;
          } else {
            alert("아이디와 비밀번호가 일치하지 않습니다.");
            form.reset();
          }
        });
      }
    </script>
  </body>
</html>
