<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<link rel="stylesheet" href="/static/moim_list.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/static/moim_list.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>
  <header>
    <div class="logo">
      <!-- 로고 -->
      <a href="/home">MOiM</a>
      <div class="categorize">
        <!-- 위치 정보 불러오기 -->
        <p>in <span class="location" onclick="selectLocation()">WHERE?
        </span></p>
      <p>about <span class="category" onclick="selectCategory()">WHAT?
          <!-- 관심사 정보 불러오기 -->
        </span></p>
    </div>
    </div>
    <div class="setting">
      <div>
          <span onclick="location.href='/home'">←</span>
      </div>
  </div>
  </header>
  <section>
      <div class="moim_table">
        <div class="onOff">
          <div class="is_online" name="*" onclick="selectOnOff()">전체</div>
          <div class="is_online" name="true" onclick="selectOnOff()">온라인</div>
          <div class="is_online" name="false" onclick="selectOnOff()">오프라인</div>
        </div>
        <table>
          <tbody>
            
            
          </tbody>
        </table>
      </div>
  </section>

  <div class="moim_insert_button" onclick="location.href='/moim/moim_insert'">+</div>
    
  <script>
    // 페이지 로드 시 전체 모임 목록 불러오기
    document.addEventListener("DOMContentLoaded", () => {
      let is_online = "*";
      document.querySelector(".onOff").childNodes[1].style.backgroundColor = "#d3d3d3";  // 클릭된 버튼 색상 변경

      console.log(document.querySelector(".onOff").childNodes[1]);
      
      showMoim();
    });
  </script>

</body>

</html>