<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>
</head>
<link rel="stylesheet" href="/static/moim_detail.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/static/moim_list.js"></script>
<body>
    <header>
        <div class="logo">
          <!-- 로고 -->
          <a href="/">MOiM</a>
        </div>
    </header>
    <section>
        <div class="moim_detail">
            <!-- <h3><%= title  %></h3> -->
             <h3>모임 제목</h3>
             <!-- <h4><%= date %></h4> -->
             <h4>모임 일자</h4>
             <img src="#" alt=""><br>
             <p>모집 기간 <span></span></p>
             <p>모집 인원 <span>10</span></p>

        </div>

        <div class="apply">
            <span>참여하기</span>
        </div>
    </section>
</body>
</html>