<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>moim</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <p><%=nickname%></p>
    <p><%=user_id%></p>
    <button onclick="createModal()">프로필 수정</button>
    <form name="confirm-password-form">
      <input
        type="password"
        name="pw"
        placeholder="비밀번호를 입력해주세요."
      /><br />
      <button type="button" onclick="confirmPassword()">확인</button>
    </form>
    <script>
      const form = document.forms["confirm-password-form"];
      function createModal() {
        form.style.display = "block";
      }
      function confirmPassword() {
        axios.post("/user/check-pw", { pw: form.pw.value }).then((res) => {
          console.log(res.data);
          if (res.data.result) {
            document.location.href = "/user/editprofile";
          } else {
            console.log(res.data.message);
          }
        });
      }
    </script>
  </body>
  <style>
    form {
      display: none;
      position: absolute;
      top: 50%;
      margin: 0 auto;
    }
  </style>
</html>
