<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>moim</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css" />
  <link rel="stylesheet" href="/static/profile.css" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- <script src="/static/my_page.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/b9cc1d7a42.js" crossorigin="anonymous"></script>
  <script src="/static/profile.js"></script>
</head>

<body>
  <header>
    <div class="logo">
      <!-- 로고 -->
      <a href="/home">MOiM</a>
    </div>
    <div class="setting">
      <div>
        <span onclick="location.href='/home'">←</span>
      </div>
    </div>
  </header>
  <section>
    <div class="content-box">
      <div class="userInfo">
        <div class="profile">
          <img src="/static/upload/star_imgs/star<%= review %>.jpeg" alt="" />
          <div>
            <span class="nickname"><%=nickname%>(<%=user_id%>)</span>
            <span class="rank"></span>
          </div>
        </div>
        <div class="menu">
          <span class="logout" onclick="logout()"><i class="fas fa-regular fa-arrow-right-from-bracket"></i></span>
          <span class="edit-profile" onclick="createModal()"><i class="fas fa-light fa-pen-to-square"></i></span>
        </div>
      </div>
      <div class="button-box">
        <div class="dibs_moim" onclick="selectMoim(this)">찜</div>
        <div class="attending" onclick="selectMoim(this)">참여중</div>
        <div class="attended" onclick="selectMoim(this)">참여완료</div>
      </div>
      <div class="moim_table">
        <table>
          <tbody>
            <!-- <tr>
                <td>
                  <div class="content">
                    <div class="title">제목</div>
                    <img src="" alt="" />
                  </div>
                </td>
                <td>
                  <div class="content">
                    <div class="title">제목</div>
                    <img src="" alt="" />
                  </div>
                </td>
              </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <div class="form-box">
    <div class="disappear" onclick="disappearModal()">×</div>
    <form name="confirm-password-form">
      <h3>비밀번호 확인</h3>
      <input type="password" name="pw" placeholder="비밀번호를 입력해주세요." />
      <button type="button" onclick="confirmPassword()">확인</button>
    </form>
  </div>
  <script>
    const form = document.forms["confirm-password-form"];
    const formBox = document.querySelector(".form-box");

    function createModal() {
      formBox.style.display = "block";
    }

    function disappearModal() {
      formBox.style.display = "none";
    }

    function confirmPassword() {
      axios
        .post("/user/check-pw", {
          pw: form.pw.value,
        })
        .then((res) => {
          if (res.data.result) {
            document.location.href = "/user/editprofile";
          }
        });
    }

    async function logout() {
      try {
        const response = await axios({
          method: "GET",
          url: "/user/logout",
        });
        if (response.data) {
          alert("로그아웃 되었습니다.");
          document.location.href = "/";
        }
      } catch (error) {
        console.log("error");
      }
    }
    const rank = document.querySelector(".rank");
    const review = Number("<%=review%>");
    rank.innerHTML = "★".repeat(review);

    // 페이지 로드 시 참여중인 모임 보여주기
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelector(".attending").onclick();
    });
  </script>
</body>

</html>