@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* 로고 
- 위치 고정
- 폰트 설정
- 링크 연결
*/

* {
    font-family: "GmarketSansMedium";
}

body {
    width: 100vw;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    margin: 0;
    position: fixed;
    top: 60px;
    left: 0;
}

/* .logo {
    margin: 10px;
}

.logo>a {
    text-decoration: none;
    color: black;
    font-size: 30px;
} */

.setting>div {
    width: 50px;
    height: 100%;
    text-align: center;
    align-content: center;
    /* position: fixed;
    top: 10px;
    right: 10px; */
    font-size: 35px;
}

/* header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.500);
} */

section {
    position: absolute;
    /* top: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    max-width: 600px;
}

.moim {
  justify-items: center;
  max-width: 600px;
}

.moim>div {
    width: 100%; 
    height: 50px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.moim>h3 {
    width: 80vw;
    text-align: start;
}

.moim>img {
    width: 80vw;
    /* height: 40vh; */
    /* max-width: 430px; */
    padding: 0 10px;
}

.dibsMoim {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-size: 25px;
}

.moim_info {
    display: flex;
    flex-direction: row;
    width: 80vw;
    border-top: 2px solid black;
}

.element {
    width: 40%;
    border-right: 1px solid black;
}

.content {
    width: 60%;
}

.element>div,
.content>div {
    border-bottom: 2px solid black;
    padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  /* width: 80vw; */
  border-top: 2px solid black;
}

tr {
    border-bottom: 2px solid black;
}

td {
    padding: 10px 5px;
}

#col1 {
    width: 40%;
    border-right: 1px solid black;
}

#col2 {
    width: 60%;
}

td > button {
  /* width: 30px; */
  height: 30px;
  border-radius: 10px;
  border: none;
  margin: 0 5px;
  background-color: #adadad;
  color: white;
}

.listOfppl {
    position: fixed;
    width: 70vw;
    height: 50vh;
    bottom: 25vh;
    background-color: #EEEEEE;
    border: 1px solid black;
    z-index: 1;
}

.nickname {
    margin: 10px;
}

.turnOff, .title {
    font-size: 25px;
    margin: 10px;
}


.apply {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    background-color: #1E3E62;
    color: white;
}

.apply3 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  background-color: #1E3E62;
  color: white;
}

.apply1 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    background-color: #1E3E62;
    color: white;
}

.apply2 {
    position: fixed;
    width: 50%;
    bottom: 0;
    left: 0;
    height: 60px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    background-color: #1E3E62;
    color: white;
}

@media screen and (min-height: 660px) {
    body {
        top: 80px;
    }

    .moim>img {
        max-width: 600px;
    }
}

