html {
    background-color: #3A6D8C;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* width: fit-content; */
}

header {
    color: white;

}

/* .header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
} */

header>div:first-child {
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
}

header>div:nth-child(2) {
    width: 50px;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 35px;
    margin: 10px;
}

section {
    position: fixed;
    top: 50px;
}

form {
    /* width: 90vw; */
    max-width: 600px;
    height: 85vh;
    margin: 10px;
    /* padding: 0 10px; */
    /* border: 2px solid black; */
}

.form-content>div {
    padding: 10px;
}

.form-content {
    background-color: white;
    height: 80vh;
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button-box {
    padding: 10px;
}

button {
    border-radius: 5px;
    border: 1px solid black;
}

#content {
    width: 80vw;
    height: 70px;
}

#represent_before {
    width: 80vw;
    max-width: 480px;
}

.inactive {
    color: lightgray;
}

.inactive>input {
    background-color: #e9e9e9;
    border: 0.5px solid black;
    color: #656565;
}