body {
    margin: 0;
}

header {
    width: 100%;
    height: 80px;
    /* padding: 10px; */
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
}

section {
    position: relative;
    top: 80px;
    width: 100%;
}

.logo {
    margin: 10px;
}

.logo>a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}


.category {
    /* position: relative;
    top: -10px;
    left: 100px; */
    margin: 10px;
}

.category>p {
    margin: 5px 0;
}

.category>p>span {
    text-decoration: underline;
    font-size: 20px;
}

.onOff {
    width: 100%;
    display: flex;
    padding: 10px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.onOff>button {
    width: 65px;
    height: 20px;
    background-color: #88d66cc4;
    border-radius: 5px;
    border: 0.5px solid black;
    margin: 3px;
}

.moim_table {
    width: 100%;
    height: 480px;
    position: fixed;
    top: 126px;
}

table {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 100%;
}

tbody {
    display: block;
    width: 100%;
    max-height: calc(90vh - 130px);
    overflow-y: scroll;
  }

  table tbody tr {
    display: table;
    width: 100%;
  }

td {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.moim_infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3px;
}

#moim_img {
    width: 150px;
    height: 100px;
}

.moim_imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.moim_infoBox, .moim_imgBox {
    width: 50%;
}


li {
    list-style: none;
    padding: 3px 0;
}