@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 로고 
- 위치 고정
- 폰트 설정
- 링크 연결
*/

*{
    font-family: 'GmarketSansMedium';
}

.logo {
    margin: 10px;
}

.logo>a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

header {
    /* position: fixed; */
    background-color: rgba(255, 255, 255, 0.500);
}

.moim_detail {
    margin: 10px;
    justify-items: center;
}

.moim_detail>h3, .moim_detail>h4, .moim_detail>p {
    width: 80vw;
    text-align: start;
}

.moim_detail>img {
    width: 80vw;
    height: 200px;
    margin-bottom: 20px;
}


.apply {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #88d66c;
}