html {
    background-color: #1E3E62;
}

.logo>a, .setting{
    color: #EEEEEE;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    margin: 0;
}

section {
    margin-top: 70px;
}

.content-box {
    border-radius: 25px;
    width: 80vw;
    height: 80vh;
    background-color: white;
    border: 1px solid black;
    max-width: 500px;
    /* max-height: 600px; */
}

.userInfo {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 2px solid #1E3E62;
}

.profile>img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* background-color: aqua; */
    border: 1px solid black;
}

.profile {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

.profile>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}

.menu>span {
    font-family: none;
    padding: 5px;
}

.menu {
    position: relative;
    top: 0;
    right: 0;
    padding: 0 20px;
}

.button-box {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.button-box>div {
    font-size: 15px;
    text-align: center;
    line-height: 22px;
    width: 80px;
    height: 20px;
    background-color: lightgray;
    border-radius: 5px;
    border: 0.5px solid black;
    margin: 5px;
    color: black;
}

.button-box .active {
    background-color: #1E3E62;
    color: #EEEEEE;
  }

.moim-contents {
    height: calc(100% - 170px);
    overflow-y: hidden;
}

/* .moims_list {
    max-height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

/* .row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
} */

/* table {
    width: 100%;
}

tr {
    margin: 10px 0;
}

td {
    width: 50%;
    height: 150px;
} */

/* .content>img {
    width: 100%;
    height: 100%;
}

.title {
    width: 80%;
    text-align: start;
    margin: 5px 0;
    position: relative;
    z-index: 1;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} */

.moim_table {
    width: 100%;
    height: calc(100% - 180px);
    overflow-y: scroll;
}

.form-box {
    width: 60vw;
    height: 20vh;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    display: none;
    position: fixed;
    z-index: 1;
    top: 25vh;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

form>h3 {
    text-align: center;
}

.disappear {
    position: absolute;
    right: 10px;
    font-size: 20px;
}

table {
    /* border-top: 3px solid black;
    border-bottom: 3px solid black; */
    width: 100%;
}

tbody {
    display: block;
    width: 100%;
    height: 100%;
    max-height: calc(90vh - 130px);
    /* overflow-y: scroll; */
  }

  table tbody tr {
    display: table;
    width: 100%;
  }

td {
    width: 100%;
    height: 120px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    position: relative;
}

.empty_td {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: row;
}

.moim_infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3px;
}

#moim_img {
    width: 150px;
    height: 100px;
    position: absolute;
}

.moim_imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.moim_infoBox, .moim_imgBox {
    width: 50%;
}


li {
    list-style: none;
    padding: 5px 0;
}


/* pop up */
.location_item, .category_item {
    padding: 10px;
    border-top: 0.5px solid rgb(0, 0, 0);
    text-align: center;
}

.location_item:click {
    background-color: white;
}

.online_true {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #E84C54;
    position: relative;
    /* z-index: 10; */
    left: 65px;
    top: 35px;
    line-height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.online_false {
    display: none;
}

.moim_insert_button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    bottom: 5px;
    right: calc(50vw - 25px);
    /* right: 5px; */
    background-color: #E84C54;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    color: #EEEEEE;
}