body {
  display: flex;
}

h2 {
  text-align: center;
  color: #333;
}

.container {
  width: 80%;
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.star-rating {
  direction: rtl;
  display: flex;
  justify-content: flex-end;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}

/* button {
  width: 100%;
  padding: 10px;
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
} */

button:hover {
  background-color: #0056b3;
}
