@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GasoekOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/GasoekOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #EEEEEE;
}

*{
    font-family: 'GmarketSansMedium';
}

header {
    /* color: #EAE4DD; */
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.500); */
}

.logo {
    margin: 10px;
}

.logo>a {
    font-family: 'GasoekOne-Regular';
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.setting>div {
    width: 50px;
    height: 100%;
    text-align: center;
    align-content: center;
    /* position: fixed;
    top: 10px;
    right: 10px; */
    font-size: 35px;
    margin: 10px;
}


img {
    object-fit:cover;
}


@media screen and ((min-width: 650px) and (min-height: 667px)) {
    .logo>a {
        font-size: 40px;
    }
}